<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pengumuman</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"  />
        <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"  />
    </head>
    <body>
    	<nav class="navbar navbar-inverse" role="navigation">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"></a>
	        </div>
	
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="navbar">
	          <ul class="nav navbar-nav">
	            <li><a th:href="@{/}">SBMPTN</a></li>
	            <li class="active"><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/univ/}">Universitas</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#"></a></li>
	
	          </ul>
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container-fluid -->
	    </nav>
	    
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-6">
	    			<h1>Pengumuman SBMPTN</h1>			       	
			       	<table class="table table-hovered">
			       		<tr>
			       			<td>Nomor</td>
			       			<td>:</td>
			       			<td th:text="${peserta.nomor}"></td>
			       		</tr>
			       		<tr>
			       			<td>Nama</td>
			       			<td>:</td>
			       			<td th:text="${peserta.nama}"></td>
			       		</tr>
			       		<tr>
			       			<td>Tanggal Lahir</td>
			       			<td>:</td>
			       			<td th:text="${#dates.format(peserta.tgl_lahir, 'dd-MM-yyyy')}"></td>
			       		</tr>
			       		<tr>
			       			<td>Umur</td>
			       			<td>:</td>
			       			<td th:text="${umur}"></td>
			       		</tr>
			       	</table>
			       	
			       <div th:if="${pengumuman} == 'lolos'">
			       	<div class="alert alert-success" role="alert">
			       		Selamat Anda lulus seleksi SBMPTN pada prodi <a th:href="${univ.url_univ}" class="alert-link"><span th:text="${prodi.nama_prodi} + ' ' + ${univ.nama_univ}"></span></a>			       		
			       	</div>
			       </div>
			       	<div th:if="${pengumuman} == 'tidak_lolos'">
				       	<div class="alert alert-danger" role="alert">
				       		Mohon maaf, Anda belum lulus seleksi SBMPTN.			       		
				       	</div>
			       </div>
	    		</div>
	    	</div>
	    </div>
	    
	    
	    <!-- FOOTER -->
        <footer class="footer" style="margin-top:90px; position:absolute; width:100%;">
	      	<div class="navbar navbar-inverse" style="margin-bottom: 0px;">
		        <div class="container">
		            <p class="navbar-text pull-left">2017 - Andhika Ragil Kesuma | 1506797091 | PSP </p>
		        </div>
		    </div>
	    </footer>
        
        <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>	
        <script th:src="@{/js/jquery.dataTables.js}"></script>	
        <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    </body>
</html>