<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Program Studi</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"  />
        <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"  />
    </head>
    <body>
    	<nav class="navbar navbar-inverse" role="navigation">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"></a>
	        </div>
	
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="navbar">
	          <ul class="nav navbar-nav">
	            <li><a th:href="@{/}">SBMPTN</a></li>
	            <li><a th:href="@{/}">Home</a></li>
				<li class="active"><a th:href="@{/univ/}">Universitas</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#"></a></li>
	
	          </ul>
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container-fluid -->
	    </nav>
	    
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
	    			<h1 th:text="${univ.kode_univ} + ' - ' + ${univ.nama_univ}">Nama Univ</h1>
	    			<h3 th:text="${prodi.kode_prodi} + ' - ' + ${prodi.nama_prodi}">Nama Prodi</h3>
	    			<a th:href="${univ.url_univ}"><span th:text="${univ.url_univ}"></span>	</a>
	    			<br />
	    			<h3>Daftar Peserta</h3>
	    			<p>Peserta Tertua: <span th:text="${tertua.nomor}+ ' - ' + ${tertua.nama} + ', ' + ${tertuaUmur} + ' tahun'"></span></p>
	    			<p>Peserta Termuda: <span th:text="${termuda.nomor}+ ' - ' + ${termuda.nama} +', ' + ${termudaUmur} + ' tahun'"></span></p>
			       	<table class="table table-hovered" id="prodi">
			       		<thead>
			       			<th>Nomor Peserta</th>
			       			<th>Nama Peserta</th>
			       			<th>Menu</th>
			       		</thead>
			       		<tbody>
			       			<tr th:each="peserta, iterationStatus: ${prodi.peserta}">
				        		<td th:text="${peserta.nomor}"> Peserta nomor</td>
				        		<td th:text="${peserta.nama}"> Peserta nama</td>
				        		<td>
				        			<a th:href="@{/peserta?nomor=} + ${peserta.nomor}" class="btn btn-primary">Lihat Detail</a>
				        			<a th:href="@{/peserta/remove?nomor=} + ${peserta.nomor}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Ubah Status</a>
				        		</td>
				        	</tr>
			       		</tbody>
			       	</table>
	    		</div>
	    	</div>
	    </div>
	    
	    
	    <!-- FOOTER -->
        <footer class="footer" style="margin-top:90px; position:absolute; width:100%;">
	      	<div class="navbar navbar-inverse" style="margin-bottom: 0px;">
		        <div class="container">
		            <p class="navbar-text pull-left">2017 - Andhika Ragil Kesuma | 1506797091 | PSP </p>
		        </div>
		    </div>
	    </footer>
        
        <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>	
        <script th:src="@{/js/jquery.dataTables.js}"></script>	
        <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
        <script>
	        $(document).ready(function() {
	        	$('#prodi').DataTable();
	        });
        </script>
    </body>
</html>