<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Daftar Universitas</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"  />
        <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"  />
        
    </head>
    <body>
    	<nav class="navbar navbar-inverse" role="navigation">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"></a>
	        </div>
	
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="navbar">
	          <ul class="nav navbar-nav">
	            <li><a th:href="@{/}">SBMPTN</a></li>
	            <li><a th:href="@{/}">Home</a></li>
				<li class="active"><a th:href="@{/univ/}">Universitas</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#"></a></li>
	
	          </ul>
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container-fluid -->
	    </nav>
	    
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
	    			<h1>Daftar Universitas</h1>
	    			<table class="table table-hovered" id="example">
		        	<thead>
			        	<tr>
				        	<th>
				        		ID
				        	</th>
				        	<th>
				        		Nama
				        	</th>
				        	<th>
				        		Menu
				        	</th>
			        	</tr>
		       		</thead>
			        <tbody>
			        	<tr th:each="univ,iterationStatus: ${univ}">
			        		<td th:text="${univ.kode_univ}"> ID</td>
			        		<td th:text="${univ.nama_univ}"> Nama_Univ</td>
			        		<td><a th:href="@{/univ/} + ${univ.kode_univ}" class="btn btn-primary">Lihat Detail</a></td>
			        	</tr>	
			        </tbody>
			        </table>
	    		</div>
	    	</div>
	    </div>
	    
        <!-- FOOTER -->
        <footer class="footer" style="margin-top:90px; position:absolute; width:100%;">
	      	<div class="navbar navbar-inverse" style="margin-bottom: 0px;">
		        <div class="container">
		            <p class="navbar-text pull-left">2017 - Andhika Ragil Kesuma | 1506797091 | PSP </p>
		        </div>
		    </div>
	    </footer>
    
        <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>	
        <script th:src="@{/js/jquery.dataTables.js}"></script>	
        <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
        <script>
	        $(document).ready(function() {
	        	$('#example').DataTable();
	        });
        </script>
    </body>
</html>
